<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>323538368558-5sl6d9mvqmmn8lb34h7k73oe3flsaqqc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.323538368558-5sl6d9mvqmmn8lb34h7k73oe3flsaqqc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>323538368558-b97bup8gq1k4i8d916pinarpbpccua3h.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCfnyNQXjXdcjydx7wufIggtS0J1j_EzHw</string>
	<key>GCM_SENDER_ID</key>
	<string>323538368558</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.digitleaf.budget.dev</string>
	<key>PROJECT_ID</key>
	<string>isavemoneygo-developement</string>
	<key>STORAGE_BUCKET</key>
	<string>isavemoneygo-developement.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:323538368558:ios:3e3dae0bf9837fa0</string>
	<key>DATABASE_URL</key>
	<string>https://isavemoneygo-developement.firebaseio.com</string>
</dict>
</plist>