<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>com.ulmatcorpit.iSaveMoneyGo.UnlockPRO</string>
	<string>com.isavemoney.subscription.1monthly</string>
	<string>com.isavemoney.subscription.6month</string>
	<string>com.isavemoney.subscription.12month</string>
</array>
</plist>
